In [1]:
import pandas as pd

tags = pd.read_csv("./../../data/kaggle/tags.csv")

In [2]:
print(tags)

       tag_id    tag_name
0           0           -
1           1        --1-
2           2       --10-
3           3       --12-
4           4      --122-
...       ...         ...
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

[34252 rows x 2 columns]

In [3]:
book_tags = pd.read_csv("./../../data/kaggle/book_tags.csv")

In [4]:
print(book_tags)

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [15]:
df = book_tags.merge(tags, on='tag_id').drop(['goodreads_book_id'], axis=1)
print(df)

        tag_id   count     tag_name
0        30574  167697      to-read
1        30574   24549      to-read
2        30574  496107      to-read
3        30574   11909      to-read
4        30574     298      to-read
...        ...     ...          ...
999907   14690       6     hogwarts
999908   16149      21     jan-2017
999909   27821       9   single-mom
999910   11478       7  fave-author
999911   27939       7     slowburn

[999912 rows x 3 columns]

In [17]:
df.dtypes

count    int64
dtype: object

In [16]:
df = df.groupby("tag_id").sum()
print(df)

        count
tag_id
0          24
1           6
2           3
3           3
4           3
...       ...
34247     353
34248    7456
34249     222
34250      24
34251     384

[34252 rows x 1 columns]

In [25]:
df.sort_values(by='count', ascending=False).head(50).merge(tags, on='tag_id')

    tag_id      count            tag_name
0    30574  140718761             to-read
1     8717    7507958   currently-reading
2    11557    4503173           favorites
3    11743    3688819             fiction
4    11305    3548157             fantasy
5    33114    1848306         young-adult
6     7457    1756920            classics
7     5207    1317235         books-i-own
8    26138    1231926             romance
9    22743    1224279               owned
10   32989     898334                  ya
11   20939     872282             mystery
12   21689     857901         non-fiction
13   14487     815421  historical-fiction
14   27199     782637              series
15   26837     703866     science-fiction
16   26771     597325              sci-fi
17   22973     542559          paranormal
18   17213     506882              kindle
19    8055     486001        contemporary
20    4949     446685           book-club
21   18045     429171             library
22   11590     423289          favourites
23   22753     417384         owned-books
24   14821     415467              horror
25    9221     405326             default
26    3389     388991           audiobook
27   31617     374689       urban-fantasy
28   21773     371049          nonfiction
29   30521     363276              to-buy
30    1642     337222               adult
31    7404     334113             classic
32    6953     315716           childrens
33   13561     313560      graphic-novels
34   30358     309276            thriller
35    3392     307154          audiobooks
36   10197     302571               ebook
37   31745     300730            vampires
38    1691     295933           adventure
39   14552     291366             history
40   10064     281487           dystopian
41    3371     264746               audio
42   14467     263267          historical
43   15048     262340               humor
44   22034     260327              novels
45    6750     251072           chick-lit
46   18367     249441          literature
47   10059     231846            dystopia
48   20774     225606            my-books
49   22983     221939  paranormal-romance